<div class="container">
  <h1>Modifica offerta di lavoro</h1>

  <%= render "form", offer: @offer %>

  <br>

  <div>
    <%= link_to "Visualizza l'offerta", @offer , class:'btn btn-success w-100'%> 
    <h1>  </h1>
    <%= link_to "Torna alle offerte", offers_path, class:'btn btn-secondary w-100' %>
  </div>
</div>